@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
    display: flex;
    flex-direction: column;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
}
main{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 header h1 strong{
    color:red;
 }

 header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
    height:fit-content;
    gap:10px;
 }
 .division1{
    gap:28px;
    display: flex;
    justify-content: center;
 }
 .division1 , a{
    color: #7F7F7F;
 }
 .division2{
    gap:10px;
    display: flex;
 }
 li.home{
    
    height:15;
    font:Inter;
    font-weight: 400;
    size:12px;
    line-height: 14.52px;
}
li.about{
    
    height:15;
    font:Inter;
    fo
    size:12px;
    line-height: 14.52px;
}
li.categ{
   
    height:15;
    font:Inter;
    weight:400;
    size:12px;
    line-height: 14.52px;
}
li.blog{
   
    height:15;
    font:Inter;
    weight:400;
    size:12px;
    line-height: 14.52px;
}
li.face a{
   
    height:34px;
}
nav ul{
    list-style: none;
    
}


.box1{
    height:fit-content;
    gap:66px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text1{
  
    height:Hug (285px) ;
    gap:16px;
}
.text1 h6{
  
    height:19px;
    font:small;
    size:16px;
    line-height: 19.36px;
    
}
.text1 h1{
    height:126px;
    font-family: 'Poppins', sans-serif;
    font-weight:700;
    size: 48px;
    line-height: 63.41px;
    padding:0;
    height: fit-content;
}
.text1 h4{
    height: 108px;
    font:Poppins;
    size: 24px;
    line-height: 36px;
}
.box2{
    height:fit-content;
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.box2 h2{
    height: 48px;

    font-weight: 700;
    size: 32px;
    line-height: 48px;
    height: fit-content;
    padding: 0;
}
.frame{
    display: flex;
    justify-content:space-around ;
}
.frame-inner{
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   gap: 5px;
}
.frame-sweettooth{
    gap: 100px;px;
    display: flex;
    justify-content:space-between ;
}
.frame-inner img{
    height: 300px;
}
.frame-etoile{
    height: Hug (29px);
    gap: 7px;
    display: flex;
    justify-content: flex-start;
}
.frame-etoile img{
    height: 29px;
}
h3{
    height: 30px;
    font-weight: 600;
    size: 20px;
    line-height: 30px;
}
.frame-p{
    height:fit-content;
    gap: 10px;
    display: flex;
    justify-content: space-between;
}
.frame-inner-p{
    height: Hug (208px);
    gap: 21px;
    height: fit-content;
}
.frame-inner-p img{
    height: 157px;
}
.frame-inner-p h3{
    height: 30px;
    font-weight: 600;
    size: 20px;
    line-height: 30px;
    text-align-last:  center;
}
.box5{
    height: fit-content;
    width: 100%;
    gap: 10px;
    background-color: #FFD7C9;
    display: flex;
    justify-content: center;
}
.mini-box{
    height: 400px;
    gap: 10px;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mini-box h1{
    height:fit-content;
    font-family: 'Poppins', sans-serif;
    size: 100px;
    line-height: 96px;
    align-content: center;
    color: black;
    font-size: 49px;
    align-self: center;
    font-weight: 900;
}
.mini-box p{
    height: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    size: 20px;
    line-height: 30px;
    color: #000000;
    font-size: 19px;
    align-self: center;
}

.email{
display: flex;
height: 50px;
width:100% ;
justify-content: center;
align-items: center;
align-self: center;
}

.emailbox{
height: 100%;
width: 80%;
border: none;
border-radius: 5px 0 0 5px;
}
.boutonEmail{
height: 100%;
width: 20%;
border: none;
border-radius: 0 5px 5px 0 ;
background-color:#FF642F;
color: #fff;
}
.HandPickedCollections{
    height: Hug (1,585px);
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.titleCollections{
    height: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    size: 32px;
    line-height: 48px;
    color: #000000;
}

.recipes {
    display: flex;
    justify-content: space-between;
}

.recipesBoxes{
 display: flex;
 flex-direction: column;
 width: 47%;
 height: 600px;
}
.recipesBoxes img{
    height:auto ;
    width: 100%;
}
.lowerSection {
    display: flex;
    gap: 10px;
    border:  2px solid #BABABA;
    border-radius: 0 0 20px 20px;
    border-top: none;
    justify-content: center;
    align-items: baseline;
    height: 30%;
}

.lowerSection h1 {
    width: 65%;
}

.recipeButton {
    width: 30%;
    height: 35%;
}
.latestrecipes{
    height: Hug (1,979px);
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}
.latestrecipestitle{
    height: 10%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    size: 32px;
    line-height: 48px;
    color: #000000;
}
.boiteg{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 37px;
}
.food{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.boite{
    height: 100%;
    width: 22%;
    display: flex;
    flex-direction: column;
    gap: 19px;
}
.boite img{
    height: 75%;
    border-radius: 20px ;
}
.boite p{
    height: 20%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    size: 20px;
    line-height:30px;
    color: #000000;
}
.loadmore{
    height: 25%;
    border-radius: 5px;
    border: 1px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
footer{
    background-color: #F9F9F9;
}
.footer{
    height:fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
   margin-top: 30px;
   margin-bottom: 30px;
    align-items: center;
}
.section1{
    height: 70%;
    width: 90%;
    display: flex;
    gap: 350px;
    justify-content: center;
    align-items: center;
}
.left{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.right{
    height: 75%;
    display: flex;
    gap: 65px;
}
.left strong{
    color: red;
}
.left h1{
    height: 20%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
}
.lista , a{
    color: #7F7F7F;
}
.left p{
    height: 65%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22.5px;
}
.lista , p{
    color: black;
}
li, a{
    text-decoration: none;
    
}
.lista{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}
.sym{
    height: 15%;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.36px;
}
.section2{
    color: #BDBDBD;
}
.section3{
    height: 25%;
    display: flex;
    gap: 11px;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.section3 p{
    height: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
}
.socialmediaa{ 
    height: 80%;
    display: flex;
    gap: 10px;
    justify-content:end;
    align-items: center;
}
/* Styles for the desktop navigation */
.division1 {

    color: #000000;
    padding: 10px;
}

.division1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.division1 li {
    margin-right: 20px;
}

.division1 a {
    color: black;
    text-decoration: none;
}

/* Styles for the hamburger icon */
#hamburger-icon {
    display: none;
    width: 50px;
    
}

.iconMenu {
    width: 100%;
    height: 100%;
}

#hamburger-icon .bar1 {
    top: 0;
}

#hamburger-icon .bar2 {
    top: 9px;
}

#hamburger-icon .bar3 {
    top: 18px;
}

/* Styles for the mobile menu */
.mobile-menu {
    display: none;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    width: 100%;
    gap: 10px;
    padding-top: 20px;
    padding-bottom:20px ;

}

.mobile-menu li {
    padding: 10px;
    border-bottom: 1px solid #444;
}

.mobile-menu a {
    color: black;
    text-decoration: none;
    display: block;
}

.mobile-menu a:hover {
    background-color: #555;
}
@media ( max-width: 600px){
    .box1{
      flex-direction: column;
      gap: 20px;
    }
    .frame{
        flex-direction: column;
    }
    .frame-p{
        flex-wrap: wrap; 
        gap: 10px; 
    }
    .frame-sweettooth{
        flex-direction: column;
    }
    .food{
        flex-wrap: wrap; 
        gap: 10px; 
        justify-content: center;
    }
    .box1 img{
        width: 100%;
    }
    header{
        width: 100%;
    }
    .box2{
        width: 100%;
    }
    .recipes{
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    .recipesBoxes{
        width: 100%;
        height: 100%;
    }
    .division1 {
        display: none;
    }

    #hamburger-icon{
        display: flex;
       
    }

    .mobile-menu.show {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .box5{
        width: 115%;
    }
    .latestrecipestitle{
        justify-content: center;
        align-items: center;
        padding-left: 70px;
    }
    footer .section1{
        flex-direction: column;
        gap: 10px;
        height: fit-content;
    }
    .mini-box h1{
        font-size: 23px;
    }
    .mini-box p{
        font-size: 15px;
        width: 80%;
        text-align: center;
        height: fit-content;
    }
    .mini-box .email{
        width: 75%;
    }
    .boite{
        width: 45%;
        gap: 10px;
    }
    .boiteg{
        gap: 10px;
    }
    .iconMenu{
        width: 34px;
        height: 34px;
    }
}